<section id="home">
  <carousel-card class="carouselCard__component"></carousel-card>
  <div class="">
    <h2>Contenido 1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur
      volutpat nisl vitae molestie. Quisque aliquet maximus nunc nec
      condimentum. Donec viverra hendrerit facilisis. Aenean porttitor sapien
      enim, ac ultrices tortor facilisis eget. Morbi et neque in nisl iaculis
      auctor ut a ipsum. Donec sit amet massa orci. Vestibulum eget erat sapien.
      Ut dignissim posuere nisl eu pulvinar. Morbi porta tincidunt odio,
      condimentum hendrerit erat blandit nec. Mauris nec mollis lectus, sit amet
      sodales est. Mauris vulputate lacus purus, vitae maximus sem aliquam quis.
      Ut blandit velit quis hendrerit feugiat.
    </p>
  </div>
  <article>
    <h2>Articulo 1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur
      volutpat nisl vitae molestie. Quisque aliquet maximus nunc nec
      condimentum. Donec viverra hendrerit facilisis. Aenean porttitor sapien
      enim, ac ultrices tortor facilisis eget. Morbi et neque in nisl iaculis
      auctor ut a ipsum. Donec sit amet massa orci. Vestibulum eget erat sapien.
      Ut dignissim posuere nisl eu pulvinar. Morbi porta tincidunt odio,
      condimentum hendrerit erat blandit nec. Mauris nec mollis lectus, sit amet
      sodales est. Mauris vulputate lacus purus, vitae maximus sem aliquam quis.
      Ut blandit velit quis hendrerit feugiat.
    </p>
  </article>
  <div class="">
    <h2>Contenido 3</h2>
    <article>
      <h3>Articulo 2</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur volutpat nisl vitae molestie. Quisque aliquet maximus nunc nec condimentum. Donec viverra hendrerit facilisis. Aenean porttitor sapien enim, ac ultrices tortor facilisis eget. Morbi et neque in nisl iaculis auctor ut a ipsum. Donec sit amet massa orci. Vestibulum eget erat sapien. Ut dignissim posuere nisl eu pulvinar. Morbi porta tincidunt odio, condimentum hendrerit erat blandit nec. Mauris nec mollis lectus, sit amet sodales est. Mauris vulputate lacus purus, vitae maximus sem aliquam quis. Ut blandit velit quis hendrerit feugiat.
      </p>
    </article>
  </div>
  <div class="">
    <h2>Contenido 4</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur
      volutpat nisl vitae molestie. Quisque aliquet maximus nunc nec
      condimentum. Donec viverra hendrerit facilisis. Aenean porttitor sapien
      enim, ac ultrices tortor facilisis eget. Morbi et neque in nisl iaculis
      auctor ut a ipsum. Donec sit amet massa orci. Vestibulum eget erat sapien.
      Ut dignissim posuere nisl eu pulvinar. Morbi porta tincidunt odio,
      condimentum hendrerit erat blandit nec. Mauris nec mollis lectus, sit amet
      sodales est. Mauris vulputate lacus purus, vitae maximus sem aliquam quis.
      Ut blandit velit quis hendrerit feugiat.
    </p>
  </div>
</section>
