<section id="home">
  <carousel-card class="carouselCard__component"></carousel-card>
  <div class="home__contenido">
    <div class="home__contenido__imagen">
      <img
        src="assets/img/persona_viaje.webp"
        alt="persona_viaje"
      >
    </div>
    <div class="home__contenido__mensaje">
      <span class="home__contenido__mensaje__titulo__uno">Viaja a donde
        quieras</span>
      <span class="home__contenido__mensaje__titulo__dos">Sin
        preocupaciones</span>
      <p class="home__contenido__mensaje__texto">¡ Tu felicidad es la nuestra !
      </p>
    </div>

  </div>

  <div class="home__dibujo">
    <div class="home__dibujo__fondo">
      <div class="home__dibujo__fondo__mundo">
        <div class="home__dibujo__fondo__mundo__usa"> </div>
        <div class="home__dibujo__fondo__mundo__latin"> </div>
        <div class="home__dibujo__fondo__mundo__poloN"> </div>
        <div class="home__dibujo__fondo__mundo__poloS"> </div>
        <div class="home__dibujo__fondo__mundo__eur"></div>
        <div class="home__dibujo__fondo__mundo__aus"></div>
      </div>

      <div class="home__dibujo__fondo__titulo">
        <h2>Sin limites de destino</h2>
        <h4>¡Viaja por todo el mundo!</h4>
      </div>

      <div class="home__dibujo__fondo__passports">
        <div class="home__dibujo__fondo__passport__uno">
          <h4>Passport</h4>
          <div class="home__dibujo__fondo__passport__escudo"></div>
        </div>
        <div class="home__dibujo__fondo__passport__dos">
          <h4>Passport</h4>
          <div class="home__dibujo__fondo__passport__escudo"></div>
        </div>
        <div class="home__dibujo__fondo__passport__tres">
          <h4>Passport</h4>
          <div class="home__dibujo__fondo__passport__escudo"></div>
        </div>
        <div class="home__dibujo__fondo__passport__cuatro">
          <h4>Passport</h4>
          <div class="home__dibujo__fondo__passport__escudo"></div>
        </div>
      </div>
    </div>

    <div class="home__carrouselFotos">
      <h2>Contenido 3</h2>
      <article>
        <h3>Articulo 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur
          volutpat nisl vitae molestie. Quisque aliquet maximus nunc nec
          condimentum. Donec viverra hendrerit facilisis. Aenean porttitor
          sapien
          enim, ac ultrices tortor facilisis eget. Morbi et neque in nisl
          iaculis
          auctor ut a ipsum. Donec sit amet massa orci. Vestibulum eget erat
          sapien. Ut dignissim posuere nisl eu pulvinar. Morbi porta tincidunt
          odio, condimentum hendrerit erat blandit nec. Mauris nec mollis
          lectus,
          sit amet sodales est. Mauris vulputate lacus purus, vitae maximus sem
          aliquam quis. Ut blandit velit quis hendrerit feugiat.
        </p>
      </article>
    </div>
    <div class="home__elementoVisua l">
      <h2>Contenido 4</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur
        volutpat nisl vitae molestie. Quisque aliquet maximus nunc nec
        condimentum. Donec viverra hendrerit facilisis. Aenean porttitor sapien
        enim, ac ultrices tortor facilisis eget. Morbi et neque in nisl iaculis
        auctor ut a ipsum. Donec sit amet massa orci. Vestibulum eget erat
        sapien.
        Ut dignissim posuere nisl eu pulvinar. Morbi porta tincidunt odio,
        condimentum hendrerit erat blandit nec. Mauris nec mollis lectus, sit
        amet
        sodales est. Mauris vulputate lacus purus, vitae maximus sem aliquam
        quis.
        Ut blandit velit quis hendrerit feugiat.
      </p>
    </div>
</section>