@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

#home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.carouselCard__component {
  width: 100%;
  height: 35%;
}

.home__contenido {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__contenido__imagen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__contenido__imagen img {
  width: 500px;
  object-fit: cover;
  box-shadow: var(--shadow-md);
}

.home__contenido__mensaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.home__contenido__mensaje__titulo__uno {
  font-size: 50px;
  display: flex;
  justify-content: start;
}

.home__contenido__mensaje__titulo__dos {
  font-size: 40px;
  display: flex;
  justify-content: end;
}

.home__contenido__mensaje__texto {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.home__contenido__imagen,
.home__contenido__mensaje,
.home__contenido__mensaje__titulo__uno,
.home__contenido__mensaje__titulo__dos,
.home__contenido__mensaje__texto {
  transition: transform 0.2s ease;
}

.home__pasaporte {
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}

.home__pasaporte__fondo {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #51a2be,#00436c);
  box-shadow: inset var(--shadow-md);
  position: relative;
  border-radius: var(--radius-lg);
}

.home__pasaporte__fondo__mundo {
  position: absolute;
  right: 10%;
  /* bottom: -125px; */
  top: 15%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #3498db;
  box-shadow: 0 0 40px#3498db;
  overflow: hidden;
  animation: flotar 3s linear infinite;
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


.home__pasaporte__fondo__mundo__usa {
  content: "";
  position: absolute;
  top: 50px;
  left: 30px;
  width: 0px;
  height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 90px solid #2ecc71;
  transform: rotate(-12deg);
}

.home__pasaporte__fondo__mundo__latin {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 70px;
  width: 0px;
  height: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 90px solid #2ecc71;
  transform: rotate(12deg);
}

.home__pasaporte__fondo__mundo__eur {
  content: "";
  position: absolute;
  top: 20px;
  right: -80px;
  width: 250px;
  height: 200px;
  background-color: #2ecc71;
  clip-path: polygon(17% 19%, 9% 38%, 18% 62%, 21% 73%, 36% 64%, 46% 50%, 56% 46%, 72% 45%, 83% 33%, 83% 17%, 63% 5%, 40% 8%, 24% 11%);
  transform: rotate(35deg);
}

.home__pasaporte__fondo__mundo__aus {
  content: "";
  position: absolute;
  bottom: -70px;
  right: -120px;
  width: 250px;
  height: 200px;
  background-color: #2ecc71;
  clip-path: polygon(25% 66%, 15% 72%, 15% 83%, 28% 90%, 48% 84%, 59% 92%, 79% 86%, 89% 73%, 85% 62%, 68% 54%, 48% 58%, 33% 60%);
  transform: rotate(180deg);
}

.home__pasaporte__fondo__mundo__poloN {
  position: absolute;
  top: -60px;
  left: 30%;
  width: 100px;
  height: 80px;
  border-radius: 50%;
  background-color: #FFFFFF;

}

.home__pasaporte__fondo__mundo__poloS {
  position: absolute;
  bottom: -60px;
  left: 30%;
  width: 100px;
  height: 80px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.home__pasaporte__fondo__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.home__pasaporte__fondo__imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}

.home__pasaporte__fondo__imagen img {
  width: 300px;
  object-fit: cover;
}

@keyframes aparecer {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home__carrouselFotos {
  background-color: lightblue;
}

.home__elementoVisual {
  background-color: green;
}